src/main/mule/gitbaspoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87d15c91-d991-42f0-bfc4-c7d8d53d668a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitbaspoc1Flow" doc:id="c03d4f97-5704-49e4-a5d5-7886885395fb" >
		<http:listener doc:name="Listener" doc:id="c2ea989e-05c5-4207-978c-4eacee10305f" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="a8037fa5-1040-40ad-b14e-2a0757f697de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"i am mulesoft emp"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="06c0ea1a-0d40-4d16-8f9d-f193234d9780" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1e0fa558-4aaf-416d-93e9-bb482269e5ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[1,2,3,4,5] map $*2]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
